@model CBMS.Entity.Model.RouteDetails
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form method="post" enctype="multipart/form-data">
    <h2>RouteDetails Entry</h2><hr />
    <div class="form-group">
        <label>Source</label>
        <input type="text" asp-for="source" class="form-control" placeholder="enter source " required />
    </div>

    <div class="form-group">
        <label>Destination</label>
        <input type="text" asp-for="destination" class="form-control" placeholder="enter destination" required />
    </div>
    <input type="submit" value="Save" class="btn btn-outline-success" />
    <input type="button" value="Reset" class="btn btn-outline-secondary" />
    <hr />

    @if (ViewBag.status == "Ok")
     {
        <div class="alert alert-success">
            @ViewBag.message
        </div>
     }
     else if (ViewBag.status == "Error")
     {
        <div class="alert alert-danger">
            @ViewBag.message
        </div>
     }
</form>

